$breakpoints: (
    xs: 320,
    sm: 480,
    md: 768,
    lg: 992,
    xl: 1200,
    xxl: 1440,
    fhd: 1920,
);

:export {
    @each $name, $breakpoint in $breakpoints {
        #{$name}: #{$breakpoint};
    }
}

