@use '@assets/styles/helpers.scss' as *;

.appLayoutLogo {
  width: 250px;
  height: 64px;
  flex-shrink: 0;
  @include flex(row, center, center);

  &Collapsed {
    width: 80px;
  }
}

.appLayoutSidebar {
  height: calc(100vh - 64px);
  overflow-y: auto;

  .menu {
    padding: 1rem 0;

    &Item {
      width: 100%;
      border-radius: 0;
      margin-inline: 0;
    }
  }
}

.appLayoutHeader {
  padding: 0;
  height: 64px;
  background: $white;
  line-height: 1rem;
  box-sizing: border-box;

  @include flex(row, center, space-between);

  .menuButton {
    font-size: 16px;

    &:hover,
    &:focus {
      background: transparent !important;
    }
  }

  .dropdown {
    width: max-content;
    max-width: 300px;
    min-width: 200px;
    cursor: pointer;

    &Menu {
      padding: 0 !important;
    }
  }

  .profile {
    display: flex;
    align-items: center;
    gap: 12px;

    &Avatar {
      color: #3e79f7;
      background: #3e79f72e;
      flex-shrink: 0;
    }

    &User {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    &UserRole {
      max-width: 200px;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}

.appLayoutContent {
  min-height: 280px;
  height: calc(100vh - 64px - 48px);
  padding: 24px;
  background: $white;
  border-radius: 8px;

  &Wrapper {
    padding: 24px;
  }
}
