.center-element {
	display: flex;
	justify-content: center;
	align-items: center;
}
.ant-pagination.ant-table-pagination {
	align-items: center;
}
/* .ant-btn.green-hover:hover,
.ant-btn:focus {
	color: #31eb50;
	background: #fff;
	border-color: #31eb50;
} */

.ant-btn.red-hover:hover,
.ant-btn:focus {
	color: #fd2f6d;
	background: #fff;
	border-color: #fd2f6d;
}

.markets-row .ant-btn {
	margin-right: 2px;
	margin-bottom: 2px;
	padding: 2px 5px 0px 5px;
}
.markets-row .ant-btn div .small {
	font-size: 10px;
	margin-top: -5px;
}

.markets-row .ant-btn {
	margin-right: 2px;
}

.markets-row {
	overflow-x: auto; /* Hide horizontal scrollbar */
	overflow-y: hidden; /* Add vertical scrollbar */
}

/* width */
::-webkit-scrollbar {
	width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
.ant-drawer-content-wrapper {
	width: 40% !important;
}

@media only screen and (max-width: 600px) {
	.ant-drawer-content-wrapper {
		width: 100% !important;
	}
}

.app-content {
	padding: 0px !important;
}

.expanded {
	border: 0px !important;
	border-radius: 0px !important;
}

.expanded .ant-card-body {
	padding: 0px !important;
}

.table-responsive {
	margin-bottom: 80px;
}

@media only screen and (max-width: 576px) {
	.ant-pagination-options {
		display: block !important;
	}
	.ant-drawer-body {
		padding: 10px !important;
	}
}
iframe {
	display: none;
}

.ant-btn.big {
	width: 100%;
	height: 60px;
	font-size: 18px;
}
.ant-table-cell {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 250px;
}
.ant-table {
	overflow: auto;
}
.c-rent .ant-form-item-label label {
	font-size: 20px;
	line-height: 0px;
}
.c-rent.color-bordered .ant-select-selector {
	border: 2px solid #3e79f7 !important ;
}
.c-rent.color-bordered .ant-picker {
	border: 2px solid #3e79f7 !important ;
}
.c-rent.color-bordered .ant-input-number {
	border: 2px solid #3e79f7 !important ;
}

.custom-stock label {
	display: none;
}

.custom-stock {
	width: 30%;
	margin-left: 3px;
}

.c-rent .custom-stock {
	display: inline-table;
	width: 30%;
	margin-top: -30px;
	margin-left: 3px;
}
.rent-check-modal h1 {
	font-weight: normal;
}
.rent-check-modal h1 span {
	font-weight: bold;
}

.c-rent .custom-stock label {
	font-size: 20px;
	font-weight: 500;
	color: #1a3253;
	display: block;
}

input::placeholder {
	color: #555;
}

.ant-message-notice-content {
	font-size: 25px;
	font-weight: bold;
}

.ant-layout-sider-children {
	overflow-y: auto;
	overflow-x: hidden;
}

.days-cell .ant-tag {
	width: 35px;
	margin-right: 0px;
	padding: 0px 6px;
	text-align: center;
}
