@use './variables/breakpoints.scss' as *;
@use './variables/fonts.scss' as *;
@use './variables/colors.scss' as *;
@use './mixins/media.scss' as *;
@use './mixins/font.scss' as *;
@use './mixins/flex.scss' as *;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
}

ol,
ul {
  list-style: none;
}
